print ("hello world")

import numpy as np
import pandas as pd

In [12]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

In [16]:
df [0:9]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477
5,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2015,12864.0,0.211,...,NaN,0.389,0.153,5317.0,0.200,175.0,42876,0.721,18.30,NaN
6,AK,West,Pacific,Dillingham Census Area,2070,2070,Insuff Data,1/1/2014,9699.0,0.121,...,NaN,0.384,0.147,6082.0,0.152,119.0,47498,0.636,NaN,0.305
7,AK,West,Pacific,Dillingham Census Area,2070,2070,Insuff Data,1/1/2015,15057.0,0.121,...,NaN,0.367,0.154,7204.0,0.152,120.0,47930,0.690,NaN,NaN
8,AK,West,Pacific,Fairbanks North Star Borough,2090,2090,Region 22,1/1/2014,5740.0,0.110,...,12.29,0.251,0.115,6855.0,0.129,133.0,63979,0.161,4.92,0.168

In [19]:
df[["State", "Year", "County", "Adult smoking"]][0:9]

  State      Year                        County  Adult smoking
0    AK  1/1/2014    Aleutians West Census Area          0.267
1    AK  1/1/2015    Aleutians West Census Area          0.267
2    AK  1/1/2014             Anchorage Borough          0.157
3    AK  1/1/2015             Anchorage Borough          0.157
4    AK  1/1/2014            Bethel Census Area          0.299
5    AK  1/1/2015            Bethel Census Area          0.299
6    AK  1/1/2014        Dillingham Census Area          0.386
7    AK  1/1/2015        Dillingham Census Area          0.386
8    AK  1/1/2014  Fairbanks North Star Borough          0.194

In [20]:
df[["State", "Year", "County", "Adult obesity"]][0:9]

  State      Year                        County  Adult obesity
0    AK  1/1/2014    Aleutians West Census Area          0.300
1    AK  1/1/2015    Aleutians West Census Area          0.329
2    AK  1/1/2014             Anchorage Borough          0.257
3    AK  1/1/2015             Anchorage Borough          0.268
4    AK  1/1/2014            Bethel Census Area          0.315
5    AK  1/1/2015            Bethel Census Area          0.324
6    AK  1/1/2014        Dillingham Census Area          0.318
7    AK  1/1/2015        Dillingham Census Area          0.316
8    AK  1/1/2014  Fairbanks North Star Borough          0.291

In [21]:
df[["State", "Year", "County", "Food environment index"]][0:9]

  State      Year                        County  Food environment index
0    AK  1/1/2014    Aleutians West Census Area                   7.002
1    AK  1/1/2015    Aleutians West Census Area                   6.600
2    AK  1/1/2014             Anchorage Borough                   8.185
3    AK  1/1/2015             Anchorage Borough                   8.000
4    AK  1/1/2014            Bethel Census Area                   3.210
5    AK  1/1/2015            Bethel Census Area                   2.800
6    AK  1/1/2014        Dillingham Census Area                   5.892
7    AK  1/1/2015        Dillingham Census Area                   5.800
8    AK  1/1/2014  Fairbanks North Star Borough                   7.526